html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: arial, sans-serif;
    font-size: 14px;

}

main {
    font-size: 14px;
    /*
    NEED TO CENTER THIS ON THE SCREEN???
    possibly make a "border" and incorporate the options in the border???
    */
}

#grid {
    width: 700px;
    height: 700px;
    display: grid;
    /* gets set with js
    grid-template-columns: repeat( x, 1fr );
    grid-template-rows: auto;
    */
}

.squares {
    background-color: black;
    /* BORDER IS ANNOYING TO LOOK AT commented out for now
    MAKE THIS A TOGGLABLE BUTTON???
    border: 1px dotted white;
    */
}